node_modules/

# Keep environment variables out of version control
.env
.env.*
!.env.example

/generated/prisma
# Xcode user / workspace noise
*.xcuserstate
ios/**/xcuserdata/
ios/**/project.xcworkspace/

# macOS
.DS_Store

# your backup folder
ios_bak_*
